@use 'breakpoints';

.container {
  bottom: 2px;
  padding: 17px 21px;
}

.logo-image {
  width: 90px;
}

p {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  margin-top: 0;
}

div {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 8px;
}

@include breakpoints.media(breakpoints.$small) {
  .logo-image {
    width: 129px;
  }
  .container {
    padding: 20px 26px;
  }
  p {
    font-weight: 600;
    font-size: 16px;
  }
  div {
    font-weight: 400;
    font-size: 11px;
  }
}
