<div class="container border-inline-end-3 border-inline-start-3 d-flex content-center">
  <div class="about-us border-3">
    <h1>DESPRE NOI</h1>

    <div class="body">
      <p><strong>Ce viziune are A4?</strong></p>
      <p>
        <em
          >Schimbarea pozitivă a raportului la nivel academic, științific şi social în ceea ce
          privește aplicabilitatea arhitecturii.
        </em>
      </p>

      <p><strong>Ce misiune are A4?</strong></p>
      <p><em>Educarea societății și a studenţilor prin proiectele A4.</em></p>

      <p><strong>Ce valori sunt în A4? </strong></p>
      <p><em>Unitate-Transparenţă-Perseverență-Profesionalism-Creativitate</em></p>
    </div>
  </div>
</div>
