<div class="container border-3 border-block-start-0 d-flex content-center">
  <div class="border-3">
    <div *ngFor="let article of articles,let i = index">
    <img *ngIf="number===i" [src]=articles[number].image [routerLink]=articles[number].link @carouselAnimation>
    </div>
    <div class="d-flex content-center">
      <div *ngFor="let article of articles,let i = index">
        <div class="circle" (click)="number=i" [class.circle-yellow]="number===i" @carouselAnimation></div>
      </div>
    </div>
  </div>
</div>
