@use 'variables';
@use 'breakpoints';

.wrapper {
  position: fixed;
  top: 25px;
  height: 150px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  object-fit: contain;
  padding: 25px;
}

.menu-item {
  cursor: pointer;
  height: 100%;
  padding: 8px 10px 5px;
}

.space-left {
  margin-left: 175px;
}

.space-right {
  margin-right: 175px;
}

@include breakpoints.media(breakpoints.$medium) {
  .menu-item {
    padding-left: 20px;
    padding-right: 20px;
  }
}
