/* You can add global styles to this file, and also import other style files */
@use 'variables';
@use 'texts';
@use 'layout';

*,
*::before,
*::after {
  background: variables.$black;
  box-sizing: border-box;
  color: variables.$white;
}

html,
body {
  height: calc(100% - variables.$menu-height);
  margin: 0;
}
